/* 
		_footer.scss
*/

/*
										---FOOTER---
*/



#footer{
	position: relative;
	//color: rgba(black, 0.4);
	//min-height: 150px;
	line-height: 170%;
	background-repeat: no-repeat;
	background-position-y: center;
	background-size: cover;
	background-color: $bg-color-gray;
}
.footer-menu{
	ul{
		column-count: 3;
		width: 85%;
		margin: auto;
		margin-right: 0;
		text-transform: uppercase;
		font-weight: 500;
	}
	li{
		width: 100%;
	}
}
.footer-content{

	.align-i-center{
		min-height: 200px;
	}
}
.socicons{
	font-size: 20px;
	li{
		margin: 0 5px;
	}
}
.copy-content{
	background-color: $color-5;
}
.dev{
	font-size: 0.9em;
}

@keyframes footerlogo {
  from {
  	filter: drop-shadow(-1px -5px 0px rgba($color-1, 0.3) ) drop-shadow(-1px 5px 0px rgba($color-2, 0.1) );
  }
  50% {
   filter: drop-shadow(-5px 5px 0px rgba($color-1, 0.1) ) drop-shadow(8px -5px 0px rgba($color-2, 0.3) );
  }
  to {
    filter: drop-shadow(-1px -5px 0px rgba($color-1, 0.2) ) drop-shadow(-1px 5px 0px rgba($color-2, 0.2) );
  }
}
.footer-logo{
	img{
		transition: all 0.3s ease;
		//filter: drop-shadow(0px 0px 0px rgba($color-1, 0.2) ) drop-shadow(0px 0px 0px rgba($color-2, 0.2) );
		filter: drop-shadow(0px 0px 3px rgba(black, 0.0) );
		&:hover{
		 //filter: drop-shadow(0px -15px 0px rgba($color-1, 0.4) ) drop-shadow(0px 15px 0px rgba($color-2, 0.4) );
		 filter: drop-shadow(0px 0px 3px rgba(black, 0.8) );
			//animation: footerlogo 3.5s linear infinite;
		}
	}
}